<form (ngSubmit)="addCity(addForm)" #addForm="ngForm" >
  <fieldset>
    <legend>Add City</legend>
    <div><input type="text" [(ngModel)]="newCity.name" name="cityname" placeholder="Name" required></div>
    <div *ngIf="addForm.hasError('required', 'cityname')">City name is required</div>
    <div><input type="text" [(ngModel)]="newCity.countrycode" name="countrycode" placeholder="Country Code" required pattern="^GBR$|^IRL$"></div>
    <div *ngIf="addForm.hasError('required', 'countrycode')">Country code is required</div>
    <div><input name="district" [(ngModel)]="newCity.district" placeholder="District" required cityDistrict></div>
    <div *ngIf="addForm.hasError('required', 'district')">District is required</div>
    <div *ngIf="addForm.hasError('nosuchdistrict', 'district')">District is not a permitted value</div>
    <div><input [(ngModel)]="newCity.numbers" name="population" placeholder="Population" required></div>
    <div *ngIf="addForm.hasError('required', 'population')">Population is required</div>
    <input type="submit" [disabled]="!addForm.valid">
  </fieldset>


</form>

